/*COLOR*/
$white: white;
$isabelline:#ECECEC;
$light_gray:#D1D1D1;
$smoky_black:#0C0910;
$granite_gray:#646266;
$quick_silver:#A6A5AB;
/*TIPOGRAFIA FAMILIA*/
$old_standard: 'Old Standard TT', serif;
$arimo: 'Arimo', sans-serif;
/*TIPOGRAFIA TAMAÑO*/
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
/*TIPOGRAFIA ESPESOR*/
$regular: 400;
$semi-bold: 600;
$bold: 700;