.desc__section{
    width: 40vw;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    vertical-align: top;
}
.desc__div{
    padding-top: 30px;
    padding-bottom: 20px;
}

/*TAMAÑO CELULAR*/
@media only screen and (max-width: 920px) {
    .desc__section{
        width: calc(92vw - 60px);
        padding-bottom: 40px;
    }
}